body{
  height:100%;
}

nav.navbar.navbar-default .menubar{
  padding:10px;
  margin-left:5px;
}

nav.navbar.navbar-default .menubar li{
  padding:10px;
  margin-left:5px;
}

div.jumbotron.hero.minsizefix{
  padding:0px;
  margin:0px;
  height:452px;
  width:100%;
}

div.jumbotron.hero.minsizefix.globalhomebg{
  background-image:url(../../global_assets/img/MAP.png);
}

div.container.homefirstcontainer{
  width:100%;
  height:100%;
  margin:0px;
  padding:50px;
}

div.leftcontainer{
  float:left;
  width:60%;
  text-align:left;
  color:black;
  font-family:'Source Sans Pro';

  padding-left:10%;
}

div.rightcontainer{
  float:right;
  width:40%;
  margin-top:10%;
  padding-right:10%;
  color: black;
}

div.container.homefirstcontainer .rightcontainer li{
  list-style-type:none;
  background-color:black;
  margin-bottom:5px;
  margin-left:0%;
  margin-right:20%;
  width:100%;
  height:30px;
}

div.container.homefirstcontainer .rightcontainer li span{
  float:left;
  width:80%;
}

div.container.homefirstcontainer .rightcontainer li button{
  float:right;
  width:20%;
  height:100%;
  background-color:black;
}

footer.site-footer .spanborder a{
  border-right:1px solid rgba(125,123,123,0.63);
  padding-left:10px;
}

footer.site-footer{
  background-color:black;
  color:white;
}

footer.site-footer a{
  background-color:black;
  color:white;
}

@media (max-width:1000px) {
  div.leftcontainer{
    float:none;
    width:100%;
    text-align:center;
    padding-bottom:50px;
  }
}

@media (max-width:1000px) {
  div.rightcontainer{
    float:none;
    width:100%;
    margin:0px;
    padding:0px;
  }
}

@media (max-width:1000px) {
  div.rightcontainer ul{
    margin:0px;
    padding:0px;
  }
}

