.divaftertrack{
  margin:auto;
  padding-left:15%;
  padding-right:15%;
  text-align:center;
}

.divaftertrack h4{
  padding-bottom:10px;
  margin:0px;
  font-weight:900;
  color:rgb(139,138,138);
  font-style:italic;
}

.divaftertrack #desc p{
  width:500px;
}

.sect{
  height:100px;
}

.divaftertrack img{
  float:left;
  padding-left:20px;
  margin-bottom:10px;
}

#desc{
  margin-left:15px;
  padding-left:30px;
  padding-top:20px;
  float:left;
  color:rgb(191,181,84);
}

@media (max-width:768px) {
  .divaftertrack{
    padding-top:20px;
    padding-bottom:20px;
    width:100%;
  }
}

@media (max-width:768px) {
  .divaftertrack #desc{
    margin:0px;
    padding:0px;
    padding-top:20px;
    padding-left:20px;
    width:80%;
  }
}

@media (max-width:768px) {
  .divaftertrack img{
    margin:0px;
    padding:0px;
    padding-left:20px;
    width:20%;
  }
}

@media (max-width:768px) {
  .divaftertrack #desc p{
    width:100%;
  }
}

@media (max-width:360px) {
  .divaftertrack{
    height:600px;
    text-align:left;
  }
}

@media (max-width:360px) {
  .divaftertrack .sect{
    height:100px;
  }
}

@media (max-width:360px) {
  .divaftertrack img{
    padding:0px;
    margin:auto;
    width:20%;
  }
}

@media (max-width:360px) {
  .divaftertrack #desc{
    margin:0px;
    padding-top:10px;
    width:80%;
  }
}

@media (max-width:360px) {
  .divaftertrack #desc p{
    width:100%;
  }
}

@media (max-width:360px) {
  .divaftertrack h4{
    width:100%;
    text-align:left;
  }
}

@media (min-width:630px) {
  .divaftertrack{
    padding-left:10%;
    padding-right:10%;
    height:650px;
  }
}

@media (max-width:900px) {
  .divaftertrack{
    padding-left:10%;
    padding-right:10%;
    height:600px;
  }
}

@media (min-width:1247px) {
  .divaftertrack{
    padding-left:30%;
    padding-right:20%;
  }
}

@media (min-width:1557px) {
  .divaftertrack{
    padding-left:30%;
    padding-right:30%;
  }
}

div.homediv3{
  padding-top:20px;
  padding-left:250px;
  padding-right:150px;
  height:530px;
  width:100%;
}

div.homediv3 img{
  float:right;
  width:60%;
  height:100%;
}

div.homediv3 section{
  float:left;
  padding-top:10%;
  width:40%;
  color:rgb(183,178,178);
}

div.homediv3 section span{
  color:rgb(255,225,117);
  text-shadow:3px 2px rgba(247,240,240,0.58);
  font-weight:800;
}

@media (max-width:360px) {
  div.homediv3 img{
    float:none;
    width:100%;
    height:30%;
  }
}

@media (max-width:900px) {
  div.homediv3{
    height:500px;
    padding:0px;
  }
}

@media (max-width:360px) {
  div.homediv3{
    height:600px;
    padding:0px;
  }
}

@media (max-width:900px) {
  div.homediv3 img{
    float:none;
    width:100%;
    height:60%;
  }
}

@media (max-width:360px) {
  div.homediv3 section{
    padding:0px;
    float:none;
    width:100%;
    text-align:center;
  }
}

@media (max-width:900px) {
  div.homediv3 section{
    padding:0px;
    float:none;
    width:100%;
    text-align:center;
  }
}

div.homediv4sender{
  width:100%;
  height:500px;
  padding-top:50px;
  background-image:url(../../assets/img/sender-bg.png);
  background-size:100% 500px;
  color:white;
}

div.homediv4sender text-center{
  color:white;
}

section.homecontactus{
  padding:0px;
  margin:0px;
  background-image:url(../../assets/img/MAP.png);
  text-align:center;
  height:400px;
}

section.homecontactus span{
  font-size:18px;
  color:rgb(174,174,174);
}

section.homecontactus .areanumber{
  padding-top:50px;
  padding-bottom:10px;
}

div.text-center.areanumber{
  word-spacing:20px;
}

div.row.footertop{
  width:100%;
  margin:auto;
  height:200px;
  background-color:rgba(244,234,146,0.19);
  color:rgb(254,254,254);
  padding-left:10%;
  padding-right:10%;
  text-align:center;
}

.row.footertop h4 h5{
  color:rgb(254,254,254);
  font-weight:800;
}

div.row.footertop .logo{
  padding:60px;
  margin:0px;
  height:200px;
  float:left;
  width:25%;
  color:white;
}

div.row.footertop .desc1{
  padding:0px;
  padding-top:20px;
  margin:0px;
  height:200px;
  float:left;
  width:25%;
  color:white;
}

div.row.footertop .desc2{
  padding:0px;
  padding-top:20px;
  margin:0px;
  height:200px;
  float:left;
  width:25%;
  color:white;
}

div.row.footertop .desc3{
  padding:0px;
  padding-top:20px;
  margin:0px;
  height:200px;
  float:left;
  width:25%;
  color:white;
  text-align:left;
}

.desc3 .paymentfooter section{
  float:left;
  padding:3px;
  color:white;
}

.desc3 .paymentfooter{
}

