.navbar{
  margin-bottom:0;
  border:none;
}

.navbar-brand .glyphicon{
  margin-right:6px;
}

.hero{
  background:url(../../global_assets/img/banner-2.jpg) no-repeat center;
  background-size:cover;
  border:none;
}

@media (min-width:992px) {
  .hero .get-it{
    text-align:right;
    margin-top:80px;
    padding-right:30px;
  }
}

@media (max-width:992px) {
  .hero .get-it{
    text-align:center;
  }
}

@media (max-width:992px) {
  .hero .phone-preview{
    text-align:center;
  }
}

.hero .get-it h1, .hero .get-it p{
  color:#fff;
  text-shadow:2px 2px 3px rgba(0,0,0,0.3);
  margin-bottom:40px;
}

.hero .get-it .btn{
  margin-left:10px;
  margin-bottom:10px;
  text-shadow:none;
}

div.iphone-mockup{
  position:relative;
  max-width:250px;
  margin:20px;
  display:inline-block;
}

.iphone-mockup img.device{
  width:100%;
  height:auto;
}

.iphone-mockup .screen{
  position:absolute;
  width:88%;
  height:77%;
  top:12%;
  border-radius:2px;
  left:6%;
  border:1px solid #444;
  background-color:#aaa;
  overflow:hidden;
  background:url(../../global_assets/img/screen-content-iphone-6.jpg);
  background-size:cover;
  background-position:center;
}

.iphone-mockup .screen:before{
  content:'';
  background-color:#fff;
  position:absolute;
  width:70%;
  height:140%;
  top:-12%;
  right:-60%;
  transform:rotate(-19deg);
  opacity:0.2;
}

.icon-feature{
  text-align:center;
}

.icon-feature .glyphicon{
  font-size:60px;
}

section.features{
  background-color:#369;
  padding:40px 0;
  color:#fff;
}

.features h2{
  color:#fff;
}

.features .icon-features{
  margin-top:15px;
}

.testimonials blockquote{
  text-align:center;
}

section.testimonials{
  margin:50px 0;
}

.site-footer{
  padding:20px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5{
    text-align:left;
  }
}

.site-footer h5{
  color:inherit;
  font-size:20px;
}

.site-footer .social-icons a:hover{
  opacity:1;
}

.site-footer .social-icons a{
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}

@media (min-width:768px) {
  .site-footer .social-icons{
    text-align:right;
  }
}

div.headarea{
  width:100%;
  text-align:right;
  padding:7px;
  height:35px;
  background-color:black;
  color:rgba(255,253,253,0.96);
}

#headnum{
  color:rgb(208,63,107);
}

.signinbutton{
  width:50px;
  height:21px;
  background-color:#a5ffe9;
  text-align:center;
}

.headarealeft{
  margin:auto;
  float:left;
  width:90%;
}

.headarearight{
  margin:auto;
  padding-top: 2px;
  float:right;
  width:7%;
  /*background-color:rgb(255,246,197);*/
  color:black;
  border-radius:2px;
}

@media (min-width:1400px) {
  .headarearight{
    margin:auto;
    float:right;
    width:5%;
  }
}

@media (min-width:768px) {
  .headarealeft{
    margin:auto;
    float:left;
    width:91%;
  }
}

@media (max-width:992px) {
  .headarealeft{
    margin:auto;
    float:left;
    width:91%;
  }
}

@media (max-width:992px) {
  .headarealeft{
    margin:auto;
    float:left;
    width:91%;
  }
}

@media (max-width:360px) {
  .headarealeft{
    margin:auto;
    float:left;
    width:85%;
  }
}

@media (max-width:360px) {
  .headarearight{
    margin:auto;
    float:right;
    width:14%;
    padding:0px;
  }
}

@media (max-width:768px) {
  nav img{
    width:40px;
    height:30px;
  }
}

@media (max-width:768px) {
  .minsizefix{
    height:650px;
  }
}

@media (max-width:360px) {
  .minsizefix{
    height:750px;
  }
}

.homefirstcontainer{
  height:500px;
  text-align:center;
  color:white;
}

.description{
  padding-top:40px;
  word-spacing:20PX;
  text-shadow:3px 2px rgba(105,105,105,0.91);
}

.description2{
  margin-top:30px;
  padding-top:100px;
  word-spacing:20PX;
  text-shadow:3px 2px rgba(105,105,105,0.91);
}

.description2 p{
  font-size:30px;
  font-family:monospace;
}

.description2 span{
  color:rgb(255,225,117);
}

.trackingdescription{
  padding-top:10px;
  margin:auto;
}

.trackingdescription p{
  font-size:18px;
  margin:0px;
  padding-top:5px;
  color:rgb(75,61,8);
  float:left;
  margin-bottom:10px;
  font-weight:500;
  text-shadow:3px 2px rgba(198,190,190,0.54);
}

.tracksearch{
  margin-left:32%;
}

#textalignright{
  text-align:right;
  color:white;
  float:right;
}

@media (max-width:360px) {
  .trackingdescription p{
    float:none;
    text-align:center;
    padding:0px;
  }
}

@media (max-width:360px) {
  #textalignright{
    float:none;
    text-align:center;
    padding:0px;
  }
}

