/* --------------------------------------------------------------------------
 * jThemes Studio : GO - Modern Fashion E-Commerce Template
 *
 * file           : main-style.css
 * Desc           : GO - Stylesheet
 * Version        : 
 * Date           : 
 * Author         : jThemes Studio
 * Author URI     : 
 * Email          : 
 *
 * jThemes Studio. Copyright 2016. All Rights Reserved.
 * -------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------
 *  GO Template - Table of Content

  1 - General
    1.1 - Preloader
    1.2 - Global properties (body, common classes, structure etc)
    1.3 - Page section block
    1.4 - Typography (section title, links, page dividers)
    1.5 - Buttons 
    1.6 - Form / Input / Textarea  
    1.7 - Theme Colors
    1.8 - Theme Fonts
    
  2 - Header

  3 - Home   
    3.1 - Banner
    3.2 - Track Product
    3.3 - About Us
    3.4 - Calculate Your Cost
    3.5 - Steps
    3.6 - Product Delivery
    3.7 - Testimonial
    3.8 - Pricing & Plans
    3.9 - Contact US

  4 - Components / Shortcodes / Widget    
    4.1 - Breadcrumbs
    4.2 - Pagination   
    4.3 - Rating stars    
    4.4 - Blog post
    4.5 - Comments  
    4.6 - Widgets
    4.7 - Back to top button

  5 - Login Popup and Search Popup   
    5.1 - Login Popup   
    5.2 - Search Popup   
    
  6 - Pages   
    6.1 - About Us
    6.2 - Tracking
    6.3 - Contact 
    6.4 - Error
    6.5 - Comingsoon
              
  7 - Footer  

  8 - Responsive 

 * -------------------------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Roboto:100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,600,300,500,700);


/******************************* 
    1 - GENERAL CSS STARTS 
********************************/

/*----------------1.1 Preloader Starts------------------*/
#preloader {  
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;   
    top: 0px;
    background-color: #000;      
}
.small2 {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: transparent;
    top: 50vh;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.small1 {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50vh;
    left: 50%;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: transparent;
}

.bigcon {
    position: absolute;
    height: 95px;
    width: 95px;
    top: 50vh;
    left: 50%;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: transparent;
    -webkit-animation: bigcon 2s infinite linear;
    animation: bigcon 2s infinite linear;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.ball {
    border-radius: 50%;
    position: absolute;
}

.small {
    width: 25px;
    height: 25px;
    -webkit-animation: small 2s infinite ease;
    animation: small 2s infinite ease;
    box-shadow: 0px 2px rgba(0,0,0,0.3);    
}

.small:nth-child(1) {
    top: 0%;
    left: 0%;
}

.small:nth-child(2) {
    top: 0%;
    right: 0%;
}

.small:nth-child(3) {
    right: 0%;
    bottom: 0%;
}

.small:nth-child(4) {
    bottom: 0%;
    left: 0%;
}

.big {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    z-index: 1;    
    -webkit-animation: bigball 1s infinite linear;
    animation: bigball 1s infinite linear;
}

.smallball1{
    -webkit-animation-delay: -1.75s;
    animation-delay: -1.75s;
}
.smallball6{
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s;
}
.smallball2{
    -webkit-animation-delay: -1.25s;
    animation-delay: -1.25s;
}
.smallball7{
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
.smallball3{
    -webkit-animation-delay: -0.75s;
    animation-delay: -0.75s;
}
.smallball8{
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.smallball4{
    -webkit-animation-delay: -0.25s;
    animation-delay: -0.25s;
}
.smallball5{
    -webkit-animation-delay: -0s;
    animation-delay: -0s;
}

@-webkit-keyframes bigcon {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
    }
    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: translate(-50%, -50%) rotate(405deg);
        transform: translate(-50%, -50%) rotate(405deg);
    }
}

@keyframes bigcon {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
    }
    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: translate(-50%, -50%) rotate(405deg);
        transform: translate(-50%, -50%) rotate(405deg);
    }
}

/*----------------1.1 Preloader Ends------------------*/

/*----------------1.2 Global properties (body, common classes, structure etc) Starts----------------------*/

body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background: #ffffff;
    color: #acacac;
    -webkit-font-kerning: auto;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: visible !important;  
    overflow-x: hidden;
    transition: all 0.4s ease-out 0s;
    -webkit-transition: all 0.4s ease-out 0s;
}
.theme-container{
    padding-left: 0;
    padding-right: 0;
}
.boxed .wrapper {
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 1200px;
    box-shadow: 0 5px 53px -7px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}
body.off-canvas-body{
    margin-left: 301px;
}
.effect {
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: 1;

    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 1;
}
.no-pad{
    padding-left: 0;
    padding-right: 0;
}
.no-margin{
    margin: 0;
}
img{
    max-width: 100%;
}
.light-bg{
    background-color: #f2f2f2;
}
.white-bg{
    background-color: #fff;
}
.black-bg{
    background-color: #222;
}
.rel-div {
    position: relative;
}
.clrbg-before {
    position: relative;
}
.clrbg-before:before {
    content: "";    
}
.mask-overlay:before,.theme-clr-mask,.white-mask{    
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.mask-overlay{    
    position: relative;
}
.white-mask{
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
}
.title-wrap{
    display: inline-block;
    width: 100%;
    vertical-align: middle;    
    position: relative;
}
.title-wrap > p {
    letter-spacing: 2px;
}
.section-title, .title-1, .title-2, .title-3, .post-title, .widget-title, .font2-title1 {
    color: #222222;  
    text-transform: uppercase;  
    letter-spacing: 1px;
}
.section-title { font-size: 28px; }
.title-1{ font-size: 16px; }
.title-2, .widget-title-2{ font-size: 14px; }
.title-3 {font-size: 20px;}
.post-title, .product-title, .widget-title{font-size: 18px;}
.bg-text {
    color: #f6f6f6;
    font-size: 114px;    
    position: absolute;
    text-transform: uppercase;
    top: 8%;
    left: -2%;
}
.bg-text.right {
    left: auto;
    right: 2%;
}
.bg-text.center {
    text-align: center;    
    left: 0;
    right: 0;
    margin: auto
}
.white-clr, .white-clr .section-title, .white-clr .title-1, .white-clr .title-2, .white-clr .title-3, .white-clr p, .white-clr a {
    color: #fff;
}
.black-clr, .black-clr a {
    color: #222222;
}
.light-black {
    color: #333;
}
.gray-clr{ color: #9f9f9f; }
.green-clr{ color: #33be61; }
.red-clr{ color: #ff0000;}
.blue-clr, a.blue-clr{color: #0099cc;}
.main-clr{ color: #acacac;}
.block-inline{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.divider-small{
    border-color: #000;  
    border-style: dashed;
    width: 190px;
}
.fullwidth-divider{ border-color: #ccc; }
.list-items li{
    display: inline-block;
    margin: 0 5px;
    position: relative;
    text-transform: uppercase;
}
.list-items{ margin-bottom: 0; margin-left: -5px;}
.black-arrow i,.white-arrow i{   
    padding: 0 15px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;

    transition: transform 0.3s ease 0s;
    -webkit-transition: transform 0.3s ease 0s;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
}
.black-arrow:hover i, .white-arrow:hover i{
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
}
.black-arrow,a.black-arrow{
    color: #000 !important;
}
.white-arrow, a.white-arrow{
    color: #fff !important;
}
.owl-carousel .owl-item img {    
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
/*-------------------1.2 Global properties (body, common classes, structure etc) Ends-----------------*/

/*---------------------- 1.3 Page section block Starts----------------------------*/
.pad-120 {
    padding-bottom: 120px;
    padding-top: 120px;
}
.pb-120 {
    padding-bottom: 120px;
}
.pt-120 {
    padding-top: 120px;
}
.pad-100 {
    padding-bottom: 100px;
    padding-top: 100px;
}
.pt-100 {
    padding-top: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}
.pad-80 {
    padding-bottom: 80px;
    padding-top: 80px;
}
.pb-80 {
    padding-bottom: 80px;
}
.pt-80 {
    padding-top: 80px;
}
.pad-10 {
    padding-bottom: 10px;
    padding-top: 10px;
}
.pt-10{
    padding-top: 10px;
}
.pb-10{
    padding-bottom: 10px;
}
.pad-30 {
    padding-bottom: 30px;
    padding-top: 30px;
}
.pad-50 {
    padding-bottom: 50px;
    padding-top: 50px;
}
.pb-50{
    padding-bottom: 50px;
}
.pt-50{
    padding-top: 50px;
} 

/*---------------------------- 1.3 Page section block Ends ---------------------------*/

/*--------------------------- 1.4 Typography (section title, links, page dividers) Starts -------------------------- */

a, .btn{
    color: #222222;
    text-decoration: none;

    transition: all 0.4s ease-in-out;    
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
a:focus, a:hover,
.btn:hover, .btn:focus,.btn:active {  
    text-decoration: none;
    outline: 0;
}
.under-line {
    text-decoration: underline;
}
p {
    margin-bottom: 15px;
    line-height: 1.8;
}
ul,
ol {
    padding-left: 0;
    list-style: none;
    margin-bottom: 20px;
}
ul ul,
ol ul,
ul ol,
ol ol {
    padding-left: 20px;
}
h2,h3,h4,h5,h6{
    margin-top: 50px;
    margin-bottom: 10px;
}
.transition, .transition:after, .transition:before {
    transition: all 0.4s ease-in-out;    
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;s
    -o-transition: all 0.4s ease-in-out;
}
/*------------------------ 1.4 Typography (section title, links, page dividers) Ends ---------------------- */

/*--------------------------- 1.5 Buttons Starts ---------------------- */

.btn-1 {    
    text-align: center;
    border: medium none;
    height: 50px;
    line-height: 30px;
    padding: 10px;
    font-size: 14px;
    border-radius: 3px;
    color: #ffffff;
    text-transform: uppercase;

    transition: all 0.4s ease-in-out;    
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.btn-1:hover, .btn-1:focus {
    background-color: #222222;
}
.btn-1.dark:hover, .btn-1.dark:focus {
    background-color: #c7c7c7;
}
.btn-round {
    border-radius: 30px;
    text-align: center;
    border: 2px solid #222222;
    height: 50px;
    line-height: 30px;
    padding: 10px;
    font-size: 14px;    
    color: #222;
    text-transform: uppercase;
    letter-spacing: 1px;
    min-width: 200px;

    transition: all 0.4s ease-in-out;    
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.btn-round:hover, .btn-round:focus {
    color: #ffffff;
}

.btn-2{    
    text-align: center;
    border: medium none;
    height: 50px;
    line-height: 30px;
    padding: 10px;
    font-size: 14px;
    border-radius: 3px;
    color: #ffffff;
    text-transform: uppercase;

    transition: all 0.4s ease-in-out;    
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.btn-2:hover, .btn-2:focus {
    background-color: #222222;
}
.btn-2.dark:hover, .btn-2.dark:focus {
    background-color: #c7c7c7;
}
.custombtn{
    padding: 10px;

}
.custombtn-1{
    padding: 10px;
    width: 100%;

}

/*------------------------ 1.5 Buttons Ends ---------------------------- */

/*----------------------- 1.6 Form / Input / Textarea Starts --------------------------- */
textarea{
    resize: vertical;
}
label{
    font-weight: normal;
    margin: 0;
}
.form-control, .input-group-addon, .bootstrap-select .btn {
    background-color: #ffffff;
    border-color: #e7e8ec;
    border-radius: 3px;
    box-shadow: none;
    color: #c7c7c7;
    font-size: 14px;
    height: 46px;    
    padding: 10px 20px;
    font-weight: 300;
    text-transform: uppercase;
}
textarea.form-control {
    height: auto;
}
.bootstrap-select .btn {
    text-transform: uppercase;
}
.form-control.submit-btn{
    height: auto;
    line-height: normal;
}
.form-alert{
    margin: 0;
}
.box-shadow {
    box-shadow: 0 3px 20px -6px rgba(0, 0, 0, 0.2);
}
.form-control.from {
    border-right-color: transparent;
}


/*-- Checkbox/Radiobox Starts --*/
.form-group [type="checkbox"], .form-group [type="radio"]{
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.form-group .checkbox-inline, .form-group .radio-inline {
    margin: 0;
    padding-left: 0;
    line-height: 1.2;
    vertical-align: -moz-middle-with-baseline;
}
.form-group [type="checkbox"] + span, .form-group [type="radio"] + span {
    cursor: pointer;
    vertical-align: text-top;
}
.form-group [type="checkbox"] + span::before{   
    color: #999999;
    content: "\56";
    font-family: "ElegantIcons";
    font-size: 20px;
    margin-right: 3px;
    vertical-align: middle;
    line-height: 0;
}
.form-group [type="checkbox"]:checked + span:before {  
    content: "\5a";
    font-family: "ElegantIcons";
}
.form-group [type="radio"] + span::before{   
    color: #000;
    content: "\5b";
    font-family: "ElegantIcons";
    font-size: 20px;
    margin-right: 3px;
    vertical-align: middle;
    line-height: 0;
}
.form-group [type="radio"]:checked + span:before {  
    content: "\5c";
    font-family: "ElegantIcons";
}
/*-- Checkbox/Radiobox Ends --*/


/*--Bootstrap Select--*/

.bootstrap-select .btn-default.active.focus, .bootstrap-select .btn-default.active:focus, .bootstrap-select .btn-default.active:hover, 
.bootstrap-select .btn-default.focus:active, .bootstrap-select .btn-default:active:focus, .bootstrap-select .btn-default:active:hover, 
.bootstrap-select > .dropdown-toggle.btn-default.focus, .bootstrap-select > .dropdown-toggle.btn-default:focus, 
.bootstrap-select > .dropdown-toggle.btn-default:hover,.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
    background-color: #fff;
    border-color: #e7e8ec;
    color: #c7c7c7;    
    box-shadow: none;
}
.bootstrap-select .dropdown-toggle:focus {
    outline: 0 none !important;
    outline-offset: 0;
}

::-webkit-input-placeholder {
    color: #c7c7c7 ;    
}
:-moz-placeholder {
    color: #c7c7c7;
}
::-moz-placeholder {
    color: #c7c7c7;
}
:-ms-input-placeholder {
    color: #c7c7c7;
}

.form-control::-webkit-input-placeholder {
    color: #c7c7c7;
    opacity: 1;
}
.form-control::-moz-placeholder {
    color: #c7c7c7;
    opacity: 1;
}
.form-control::-ms-input-placeholder{
    color: #c7c7c7;
    opacity: 1;
}
.form-control:focus {
    background-color: transparent;    
    box-shadow: none;
    outline: 0 none;
}
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus{
    outline: 0;
}
input:focus::-webkit-input-placeholder {
    color: transparent !important;
}
input:focus:-moz-placeholder {
    color: transparent !important;
}
input:focus::-moz-placeholder {
    color: transparent !important;
}
input:focus:-ms-input-placeholder {
    color: transparent !important;
}
textarea:focus::-webkit-input-placeholder {
    color: transparent !important;
}
textarea:focus:-moz-placeholder {
    color: transparent !important;
}
textarea:focus::-moz-placeholder {
    color: transparent !important;
}
textarea:focus:-ms-input-placeholder {
    color: transparent !important;
}


/*---------------------------- 1.6 Form / Input / Textarea Ends ------------------------------ */

/*---------------------------------- 1.7 Theme Colors Starts -------------------------------- */
/**-- Color-1 Light --**/
.theme-clr, .hvr-clr:hover, .hvr-clr:focus, a:focus, a:hover, .theme-menu > li:hover > a::after, .theme-menu > li.active > a,
.list-items li.active a, .header-main .theme-menu .dropdown-menu > li > a:hover, .header-main  .theme-menu .dropdown-menu > li > a:focus {
    color: #f5ab35; 
}
.small, .theme-clr-bg, .btn-1, .btn-round:hover, .btn-round:focus, .owl-nav div:hover, .owl-nav div:focus, .theme-menu > li > a::after,
.header-style3 .menu-bar, .pagintn > li a:hover, .pagintn > li a:focus, .widget-wrap.tag-cloud a:hover, .widget-wrap.tag-cloud a:focus {
    background-color: #f5ab35;
}
.clrbg-before:before, .clrbg-after:after, .social-icons li a:hover, .social-icons li a:focus,
.pricing-box.active .btn-round {
    background-color: #f5ab35;
}
.banner { border-bottom: 5px solid #f5ab35; }
.form-control:focus, .themeclr-border, .social-icons li a:hover, .social-icons li a:focus, 
.btn-round:hover, .btn-round:focus, .pricing-box.active, .pricing-box.active .btn-round {
    border-color: #f5ab35;
}


/**-- Color-2 Dark --**/
.theme-dark, .hvr-dark:hover, .hvr-dark:focus {
    color: #df9826; 
}
.theme-dark-bg, .btn-1.dark {
    background-color: #df9826;
}    
.darkclr-border, .owl-dot.active {
    border-color: #df9826;
}
.big {
    box-shadow:0px 0px 10px #df9826, 0px 0px 20px #df9826, 0px 0px 30px #df9826, 0px 0px 50px #df9826, 0px 0px 60px #df9826 ;
    background-color: #df9826;
}

/**-- Preloader --**/
@-webkit-keyframes small {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: #f5ab35;
    }
    10% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        background-color: #df9826;
    }
    15% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    25%{
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: #f5ab35;
    }
    100%{
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: #f5ab35;
    }
}

@keyframes small {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: #f5ab35;
    }
    10% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        background-color: #df9826;
    }
    15% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    25%{
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: #f5ab35;
    }
    100%{
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: #f5ab35;
    }
}
/*------------------------1.7 Theme Colors Ends------------------------ */


/*--------------------------1.8 Theme Fonts Starts------------------- */

.font-2, .font2-title1, .title-1, .title-2, .title-3, .btn-1, .btn-round, .theme-countdown {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.section-title, .bg-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
.font2-light {
    font-family: 'Poppins', sans-serif; 
    font-weight: 300;
}
.italic-text {
    font-style: italic;
}
.upper-text{
    text-transform: uppercase;
}
.capital-text{
    text-transform: capitalize;
}

.fs-10 { font-size: 10px; }
.fs-12 { font-size: 12px; }
.fs-14 { font-size: 14px; }
.fs-16 { font-size: 16px; }
.fs-20 { font-size: 20px; }
.fs-26 { font-size: 26px; }
.fs-36 { font-size: 36px; }
.fs-48 { font-size: 48px; }
.fs-50 { font-size: 50px; }

.fs-96 { font-size: 96px; }

.fw-400 { font-weight: 400; }
.fw-600 { font-weight: 600; }
.fw-900 { font-weight: 900; }

/*------------------------- 1.8 Theme Fonts Ends --------------------- */


/******************************* 
    1 - GENERAL CSS ENDS 
********************************/

/******************************* 
    2 - HEADER CSS STARTS 
********************************/
/*-------------------- Topbar Starts -------------------- */
.top-bar {
    background-image: url('../img/pattern/topbar-bg.jpg');
    padding: 10px 0;
    position: relative;
}
.top-bar .list-items {
    margin-top: 3px;
}
.top-bar .list-items li + li:before {
    content: "";
    background-color: #3e3e3e;
    height: 10px;
    width: 2px;
    left: 0;
    top: 2px;
    position: absolute;
}
.top-bar .list-items li + li {
    margin-left: 12px;
    padding-left: 17px;
    vertical-align: middle;
}
.contact-num {
    margin: 0 95px 0 15px;
    text-align: right;
}
.boxed .contact-num {
    margin: 0 150px 0 15px;
}
.sign-in {
    height: 42px;
    padding: 13px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 150px;
}
.sign-in:hover, .sign-in:focus { background-color: #ffffff; }

/*-------------------- Topbar Ends -------------------- */

/*-------------------- Menu Bar Starts -------------------- */
.menu-bar {
    background-color: #ffffff;
    padding: 25px 0;
    z-index: 11;
    position: static;
    top: 100px;
    transition: top 0.75s ease 0s;
    -webkit-transition: top 0.75s ease 0s;
}
.is-sticky .menu-bar {
    top: 0;
    padding: 5px 0;
    box-shadow: 0 5px 53px -7px rgba(0, 0, 0, 0.2);
}
.theme-menu {
    float: right;
    padding-top: 10px;
}
.theme-menu > li {
    padding: 5px 20px;
    position: relative;
}
.theme-menu > li:last-child {
    padding: 0 0 0 20px;
}
.theme-menu > li > a {
    display: inline-block;   
    padding: 0;
    position: relative;
}
.theme-menu > li > a::after {    
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;    
    width: 100%;
    opacity: 0;

    transform: translateY(30px);
    -webkit-transform: translateY(30px);

    transition: all 0.4s ease-in-out;    
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.theme-menu > li:hover > a::after, .theme-menu > li.active > a::after {
    opacity: 0.4;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}
.theme-menu .search {
    margin-top: -2px;
    border: 1px solid;
    border-radius: 2px;
    font-size: 14px;
    height: 30px;
    line-height: 25px;
    padding: 0;
    text-align: center;
    width: 30px;
    cursor: pointer;
}
.theme-menu .search:hover, .theme-menu .search:focus {
    background-color: #222222;
    border-color: #222222;
    color: #ffffff;
}
.theme-menu .dropdown-menu  li{
    position: relative;
}
.theme-menu .dropdown-menu > li > a {
    font-size: 12px;
    font-weight: 600;
    background-color: transparent ;
    color: #222222;
    padding: 5px 20px
}
.header-main .navbar-toggle {
    border: 1px solid #222222;
    border-radius: 0;
    padding: 9px;
    margin: 12px 0 0;
}
.navbar-toggle .icon-bar {
    background-color: #222222;
    height: 1px;
    width: 20px;
}
/*-------------------- Menu Bar Ends -------------------- */

/*-------------------- Header Style-2 Starts -------------------- */
.header-style2 .is-sticky .menu-bar {
    background-color: rgba(0, 0, 0, 0.8);
}
.header-style2 .navbar-toggle {
    border: 1px solid #ffffff;
}
.header-style2 .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
/*-------------------- Header Style-2 Ends -------------------- */

/*-------------------- Header Style-3 Starts -------------------- */
.top-bar2 {
    padding: 25px 0;
}
.top-bar2 ul {
    display: inline-block;
    margin: 10px 0 0;    
    text-transform: uppercase;
    width: 100%;
}
.top-bar2 .font2-title1 {
    margin: 5px 0 0;
}
.top-bar2 ul li + li {
    border-left: 1px solid #e7e8ec;
    margin-left: 21px;
    padding-left: 25px;
}
.top-bar2 .font2-light {
    margin: 0;
}
.header-style3 .theme-menu {
    float: left;
    margin-left: -15px;
    padding-top: 5px;
}
.header-style3 .menu-bar {    
    padding: 10px 0;
}
.header-style3 .theme-menu .search {
    margin-top: 0;
}
.header-style3 .theme-menu > li.active > a, .header-style3 .theme-menu > li > a:hover, .header-style3 .theme-menu > li > a:focus {
    color: #222222;
}
.header-style3 .theme-menu > li > a::after {
    background-color: transparent; 
}
.header-style3 .sign-in {    
    border-radius: 3px;
    position: static;
    display: inline-block;
    width: 100%;
}
.sticky-logo {
    display: none;
    float: left;
    height: 40px;
    margin-right: 35px;
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
}
.is-sticky .sticky-logo {
    display: block;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
}
/*-------------------- Header Style-3 Ends -------------------- */

/******************************* 
    2 - HEADER CSS ENDS 
********************************/


/******************************* 
    3 - HOME CSS STARTS 
********************************/

/*-------------------- 3.1 - Banner Starts -------------------- */
.banner {
    background-image: url(../img/background/banner-1.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
}
.banner .list-items > li + li::before {
    bottom: 0;
    content: ".";
    font-size: 17px;
    left: 0;
    position: absolute;
}
.banner .list-items > li + li {
    margin-left: 11px;
    padding-left: 18px;
}
.banner .list-items {
    margin: 30px 0;
}
.banner-style2 {
    background-image: url(../img/background/banner-2.jpg);    
}
/*-------------------- 3.1 - Banner Ends -------------------- */

/*-------------------- 3.2 - Track Product Starts -------------------- */

.track-prod {
    background-color: #fefefe;
    border-radius: 3px;
    margin-top: -100px;
    padding: 20px 35px;
    box-shadow: 0 5px 53px -7px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #eaeaea;
}
.track-prod .title-1 {
    display: inline-block;
    margin-right: 25px;
    vertical-align: middle;
}
.track-prod::before {
    height: 5px;
    left: 0;
    position: absolute;
    top: 38px;
    width: 20px;
}
.track-prod .form-group {
    margin: 5px 0 10px;
}
.track-prod .form-control {
    height: 50px;
    text-transform: none;
}
.track-prod .btn-1 {
    height: 54px;
}
.track-prod .font2-light {
    letter-spacing: 1px;
}

.track-prod .form-group .btn-1 {
    width: 100%;    
}
/*-------------------- 3.2 - Track Product Ends -------------------- */

/*-------------------- 3.3 - About Us Starts -------------------- */
.about-wrap {
    border-bottom: 1px solid #eaeaea;
    position: relative;
}
.about-wrap:before {
    bottom: -3px;
    height: 5px;
    left: 15%;
    position: absolute;
    width: 70%;
}
.about-wrap .bg-text {
    top: 4%;
}
.about-us .feature {
    display: inline-block;
    margin-top: 35px;
    width: 100%;
}
.about-us .feature > li {
    display: inline-block;
    margin-bottom: 25px;
    width: 100%;
}
.feature .title-1 {
    margin: 0;
}
.feature img {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}
.feature-content {
    display: inline-block;
    vertical-align: middle;
    width: 85%;
}
.feature-content > p {
    margin: 5px 0 0;
    letter-spacing: 1px;
}

.about-2 .bg-text {
    top: 24%;
}
.feature-2 {
    border-bottom: 1px solid #eaeaea;
}
.feature-2::before {
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    margin-bottom: -1px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    width: 70%;
}
/*-------------------- 3.3 - About Us Ends -------------------- */

/*-------------------- 3.4 - Calculate Your Cost Starts -------------------- */
.calculate-form {
    display: inline-block;
    margin-top: 40px;
    width: 100%;
}
.calculate {
    position: relative;
}
.calculate .bg-text.right {    
    top: 8%;
}
.calculate-form .form-group {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
.calculate-form .form-control.from {
    border-radius: 4px 0 0 4px;  
    font-size: 12px;
}
.calculate-form .form-control.to {
    border-radius: 0 4px 4px 0;  
    font-size: 12px;
}

.calculate-form label {
    margin-top: 14px;
}
.calculate-form .btn-1 {
    padding: 10px 25px;
    position: relative;
    text-align: left;
}
.calculate-form .btn-1.dark {
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 145px;
}
.calculate-form .bootstrap-select .btn {
    font-weight: 600;    
    font-size: 12px;
}
/*-------------------- 3.4 - Calculate Your Cost Ends -------------------- */

/*-------------------- 3.5 - Steps Starts -------------------- */
.steps-wrap {
    background-image: url("../img/background/step-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.steps-wrap .row div {
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    z-index: 1;
}
.steps-content {
    margin-left: 15px;
}
.steps-content .title-3 {
    color: #ffffff;
    font-weight: 900;
    margin-top: 20px;
}
.step-img {
    position: absolute;
    right: 0;
    bottom: 0;
}

/*-------------------- 3.5 - Steps Ends -------------------- */

/*-------------------- 3.6 - Product Delivery Starts -------------------- */
.prod-delivery {
    position: relative;
}
.prod-delivery::before {
    border: 5px solid #f4f4f4;
    content: "";
    height: 50%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 30%;
    width: 36%;
    z-index: -1;
}
.delivery-img {
    position: absolute;
    right: 15px;
    top: 0;
    z-index: -1;
}
.boxed .prod-delivery::before, .boxed .delivery-img {
    z-index: 0;
}
/*-------------------- 3.6 - Product Delivery Ends -------------------- */

/*-------------------- 3.7 - Testimonial Starts -------------------- */
.testimonial {
    background-image: url("../img/background/testimonial-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center center;
}

.testimonial-img span {
    display: inline-block;
    font-size: 40px;
    margin-top: -15px;    
    position: relative;
    z-index: 2;

    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.testimonial-img > img {
    border: 4px solid;
    border-radius: 50%;
    z-index: -1;
}
.testimonial-img {
    border-radius: 50%;
    display: inline-block;
    height: 90px;
    margin-bottom: 40px;
    margin-top: 10px;
    position: relative;
    width: 90px;
}
.testimonial-img::before {
    background-color: #ffffff;
    border-radius: 50%;
    bottom: -18px;
    content: "";
    height: 40px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 40px;
    z-index: 1;
}
.owl-nav div {
    background-color: #444444;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin-left: 5px;
    width: 40px;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
}
.owl-nav {
    bottom: 0;
    position: absolute;
    right: 0;
}

.owl-dots {
    bottom: 65px;
    left: 0;
    position: absolute;
    right: 0;
}
.owl-dot {
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    height: 17px;
    line-height: normal;
    margin: 4px;
    vertical-align: middle;
    width: 17px;
}
.owl-dot > span {
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    height: 13px;
    margin-top: -7px;
    vertical-align: middle;
    width: 13px;
    z-index: 1;
}
.owl-dot.active > span {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;    
}
.no-pagination .owl-dots, .no-nav .owl-nav {
    display: none !important;
}

/*-------------------- 3.7 - Testimonial Ends -------------------- */

/*-------------------- 3.8 - Pricing & Plans Starts -------------------- */
/*-- Border Effects --*/
.pricing-box:after {
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 0;    
    width: 0;    
    opacity:0;
}
.pricing-box:before {
    bottom: 0;
    content: "";
    height: 2px;
    position: absolute;
    right: 0;    
    width: 0;    
    opacity:0;
}
.pricing-hover:before {
    bottom: 0;
    content: "";
    height: 0;
    left: 0;
    position: absolute;    
    width: 2px;
    opacity:0;
}
.pricing-hover:after {
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    top: 0;    
    width: 2px;
    opacity:0;
}
.pricing-box:hover:before, .pricing-box:hover:after {
    width: 100%;    
    opacity:1;
}
.pricing-box:hover .pricing-hover:after, .pricing-box:hover .pricing-hover:before {
    height: 100%;    
    opacity:1;
}
.pricing-hover {
    position: static;
}
/*-- /.Border Effects --*/

.pricing-wrap {    
    position: relative;    
}
.pricing-wrap .bg-text {
    top: 13%;
}
.pricing-box {
    border: 2px solid #f4f4f4;    
    transition: all 1s ease 0s;
    position: relative;
}
.pricing-box .title-wrap {
    border-bottom: 5px solid #f4f4f4;
    padding: 15px 80px;
}
.pricing-box .title-wrap .btn-1 {
    border-radius: 50px;
    height: 20px;
    line-height: normal;
    margin: auto auto -35px;
    width: 100px;    
}
.price-content {
    padding: 55px 80px 0;
}
.price-content li {
    padding: 7px 0;
    font-weight: 900;
}
.pricing-box .order {
    padding: 10px 10px 23px;
    text-align: center;
}
.order {
    padding: 10px 10px 23px;
    position: relative;
    text-align: center;    
}
.order span {
    left: 0;
    margin: 1px auto;
    position: absolute;
    opacity: 0;
}
.order .title-1:hover {
    color: #222222;
}
.order .title-1 {
    display: block;
    padding: 0 80px;

    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
}
.pricing-box:hover .order .title-1 {
    transform: translateX(50px);    
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
}
.pricing-box:hover .order span {
    left: 13%;
    opacity: 1;
}

.pricing-2 .bg-text {
    top: -7%;
}
.price-content-2 {
    padding: 0 30px;
}
.price-content-2 ul {
    margin: 0;
}
.price-content-2 li {
    border-bottom: 1px solid #f4f4f4;
    padding: 18px 15%;
}
.order-2 .btn-round {
    display: inline-block;
    margin: 28px;
}
.pricing-box.active .btn-round {
    color: #ffffff;
}

/*-------------------- 3.8 - Pricing & Plans Ends -------------------- */

/*-------------------- 3.9 - Contact US Starts -------------------- */
.contact-wrap .bg-text {
    top: 11%;
}
.contact-wrap {
    background-image: url("../img/background/MAP.png");
    background-position: right center;
    background-repeat: no-repeat;
    position: relative;
}
.contact-detail p {
    text-transform: none;
    display: inline-block;
    margin-top: -2px;
    vertical-align: text-top;
    width: 65%;
}
.contact-detail li:last-child p {
    margin-bottom: 5px;
}
.contact-detail span {
    width: 31%;
    display: inline-block;
}
.contact-detail {
    margin: 35px 0 0;
}
.contact-detail > li {
    padding-top: 17px;
}

.contact-2 .contact-detail > li {
    padding-left: 25%;
}
.contact-2 .contact-detail span {    
    width: 35%;
}
.contact-2 .contact-detail p {
    width: 63%;
}
/*-------------------- 3.9 - Contact US Ends -------------------- */

/******************************* 
    3 - HOME CSS ENDS 
********************************/

/****************************************************** 
    4 - Components / Shortcodes / Widget STARTS
*******************************************************/

/*-------------------- 4.1 - Breadcrumbs Starts -------------------- */
.theme-breadcrumb {
    border-top: 1px solid #eaeaea;
}
.theme-breadcrumb .section-title {
    letter-spacing: 3px;
}
.breadcrumb-menubar {
    font-size: 12px;
    margin: 20px 0 0;
    letter-spacing: 1px;
    text-align: right;
    text-transform: uppercase;
}
.breadcrumb-menubar > li + li::before {
    color: #9f9f9f;
    content: "/";
    padding: 0 5px 0 0;
}
.breadcrumb-menubar li + li {
    padding-left: 0;
}
/*-------------------- 4.1 - Breadcrumbs Ends -------------------- */


/*-------------------- 4.2 - Pagination Starts -------------------- */
.pagintn {
    border: 1px solid #e7e8ec;
    display: inline-block;
    padding: 0;
    margin: 30px 0 0;
    vertical-align: middle;
}
.pagintn > li {
    float: left;
}
.pagintn li + li {
    border-left: 1px solid #e7e8ec;
}
.pagintn > li a {
    display: inline-block;    
    padding: 15px 22px;
    text-align: center;
    text-transform: uppercase;
}
.pagintn > li a:hover, .pagintn > li a:focus {
    color: #fff;
}

/*-------------------- 4.2 - Pagination Ends -------------------- */

/*-------------------- 4.3 - Rating stars Starts -------------------- */
.rating .star {
    cursor: pointer;     
}
.rating span.star::before{
    color: #ffd33b;
    content: "\f006";
    font-family: FontAwesome;
}
.rating span.star.half:before{
    color: #ffd33b;
    content: "\f123";
    font-family: FontAwesome;
}
.rating span.star.active::before, .rating span.star:hover::before, .rating span.star:hover span.star::before{
    color: #ffd33b;
    content: "\f005";
    font-family: FontAwesome;
}

/*-------------------- 4.3 - Rating stars Ends -------------------- */

/*-------------------- 4.4 - Blog post Starts -------------------- */
.post-img img{
    display: block;
    margin: auto;
}
.post-wrap p {
    font-size: 16px;
}
.post-readmore {
    display: block;
    text-align: right;
}
.post-readmore span{
    vertical-align: middle;
}
.post-footer {
    display: block;
    margin-top: 25px;
}
.post-tags,.post-categories {
    display: block;
}
.post-tags > a, .post-categories > a{
    display: inline-block;
}
/*---------------------- 4.4 Blog Post Ends ------------------------- */

/*--------------------- 4.5 Comments Starts ------------------------ */
.comments-box {
    padding: 0;
}
.comments-box ol{
    padding-left: 15px;
}
.comments-box li{
    list-style: none;
    display: inline-block;
    width: 100%;
}
.comment-body { 
    display: inline-block;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.comment-author {
    display: inline-block;
    margin-bottom: 8px;
}
.comment-author, .comment-content {
    padding-left: 80px;
}
.comment-author .says {
    display: none;
}
.comment-author .avatar {
    border-radius: 50%;
    height: 60px;
    left: 0;
    padding: 2px;
    position: absolute;
    top: 25px;
    width: 60px;
}
.comment-list {
    list-style: outside none none;
    padding: 0;
}
.comment-list .children {
    list-style: outside none none;
    margin-bottom: 10px;
    padding-left: 20px;
}
.comment-metadata {
    display: inline-block;
    margin-bottom: 8px;
    padding-left: 5px;
    width: auto;
}
.comment-body .reply {
    position: absolute;
    right: 0;
    top: 0;
}
.comment-author .fn {   
    font-weight: normal;
}
.comment-metadata .reply a {
    display: inline-block;
    float: right;
    text-align: right;
}
.comment-content { 
    border: 1px solid #e7e8ec;
    border-radius: 0;   
    display: inline-block;
    font-size: 15px;
    margin-left: 80px;
    padding: 10px;
    white-space: normal;
    width: 90%;
}
.reply-box {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
}
.comment-respond .calculate-form label {
    margin-top: 0;
}

/*------------------------4.5 - Comments Ends------------------------ */

/*---------------------------4.6 - Widgets Starts-------------------- */
.widget-wrap {
    display: inline-block;
    width: 100%;
}
.widget-wrap .title-1{ 
    font-size: 16px;   
    margin: 0 0 20px;    
}
.widget-wrap ul {
    margin: 0;
    padding-left: 0;
}
.sidebar .form-group{
    margin-bottom: 5px;
}
.sidebar .form-control {
    background-color: #f5f5f5;
    border-color: #f5f6f7;
    color: #404040;
    height: 40px;
    padding: 6px 12px;
}
.sidebar .form-control:focus {    
    box-shadow: none;
    background-color: transparent;
}
.widget-wrap.categories li a{
    padding: 6px 0;
}
.widget-wrap li a {     
    display: block;   
    text-transform: capitalize;
    font-size: 14px;
}
.widget-wrap li a small {
    float: right;
}
.widget-wrap.flickr-feed li {
    float: left;
    margin: 0 8px 10px 0;
}
.widget-wrap.flickr-feed li a {
    border: 1px solid transparent;
    display: block;
    border-radius: 3px;
    overflow: hidden;
}
.tag-cloud li {
    float: left;
    margin: 0 10px 10px 0;
}
.widget-wrap.tag-cloud a{
    border: 1px solid #e7e8ec;
    display: inline-block;  
    line-height: normal;
    padding: 10px 15px;
}
.widget-wrap.tag-cloud a:hover,.widget-wrap.tag-cloud a:focus{
    color: #fff;
}

/*------------------4.6 Widgets Ends------------------- */

/*-------------------- 4.7 - Back to top button Starts -------------------- */
.to-top {    
    border-radius: 0;
    bottom: -150px;
    color: #ffffff;
    cursor: pointer;    
    font-size: 22px;
    height: 30px;    
    position: fixed;
    right: 3%;
    text-align: center;
    width: 30px;
    z-index: 999;
}
/*-------------------- 4.7 - Back to top button Ends -------------------- */

/*********************************************** 
4 - Components / Shortcodes / Widget ENDS 
************************************************/

/******************************* 
    5 - LOGIN POPUP AND 
        SEARCH POPUP CSS STARTS
********************************/
/*-------------------- 5.1 - Login Popup Starts -------------------- */
.login-wrap {
    display: inline-block;
    padding: 30px 45px;
    width: 100%;
}
.login-form .btn-1 {
    font-weight: 900;
    letter-spacing: 1px;
    width: 100%;
    height: 55px;
}
.close-btn {
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    opacity: 1;
    position: absolute;
    right: 0;
    top: -30px;
}
.modal-dialog {
    margin: 100px auto;
    width: 470px;
}
.modal-content {
    border-radius: 4px;
}
.login-form {
    border-top: 1px solid #eaeaea;
    display: inline-block;
    margin-top: 18px;
    padding-top: 30px;
    width: 100%;
}
.login-form .form-control {
    height: 55px;
}
.login-form::before {
    height: 1px;
    left: 25%;
    margin: auto;
    position: absolute;
    top: -1px;
    width: 50%;
}
.create-accnt {
    background-color: #222222;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: -1px;
    padding: 25px 20px 20px;
    text-align: center;
    width: 100%;
    margin-top: 25px;
}
/*-------------------- 5.1 - Login Popup Ends -------------------- */

/*-------------------- 5.2 - Search Popup Starts -------------------- */
.search-popup {
    background: rgba(255, 255, 255, 0.95);
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
}
.search-popup > div {
    height: 100%;
    width: 100%;
    display: table;
    table-layout: fixed;
}
.popup-box-inner {
    display: table-cell;
    vertical-align: middle;
}
.close-search {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 1px solid #222222;
    color: #222222;
    font-size: 2rem;
    line-height: 4rem;
    width: 4rem;
    text-align: center;
    transition: color 250ms, border-color 250ms;
}
.close-search:hover {
    color: #999;
    border-color: #999;
}
.search-popup form {
    max-width: 70%;
    margin: 0 auto;
}
.search-popup .search-query {
    border: 0;
    background: transparent;
    color: #c7c7c7;    
    line-height: 5rem;
    border-bottom: 2px solid #e7e8ec;
    height: 6rem;
    font-style: italic;
    width: 100%;
    outline: invert none medium;
}

.search-popup .search-query:focus {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #262626;
}
/*-------------------- 5.2 - Search Popup Ends -------------------- */

/******************************* 
    5 - LOGIN POPUP AND 
        SEARCH POPUP CSS ENDS 
********************************/

/*********************************************** 
6 - PAGES STARTS 
************************************************/
/*-------------------- 6.1 - About Us Page  Starts -------------------- */
.about-page .about-wrap {
    border-bottom: 0;
}
.more-about {
    border: 1px solid #eaeaea;
    padding: 28px 35px 18px;
}
.more-about:before {
    margin: -1px auto auto;
    height: 1px;
    left: 0;    
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
}
.about-page .about-wrap .bg-text {
    top: 1%;
}
/*-------------------- 6.1 - About Us Page Ends -------------------- */

/*-------------------- 6.2 - Tracking Page  Starts -------------------- */
.tracking-form .title-1 {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}
.tracking-form .font2-light {
    letter-spacing: 1px;
}
.tracking-form .form-control {
    height: 55px;    
    text-transform: none;
}
.tracking-form .btn-1 {
    height: 54px;
}
.tracking-form .form-group .btn-1 {
    width: 100%;
}
.prod-info {
    background-color: #222222;
}
.prod-info li {
    border-bottom: 1px solid #3e3e3e;
    padding: 21px 30px;
}
.prod-info .title-2 {
    display: inline-block;
    width: 38%;
}
.prod-info .fs-16 {
    display: inline-block;    
    width: 60%;
}
.prod-info li:last-child {
    border-bottom: 0 none;
}
.progress-wrap {    
    display: inline-block;
    position: relative;
    width: 100%; 
}
.progress-status {
    margin-bottom: 23px; 
}

.border-right {
    border-bottom: 5px dotted #efefef;
    position: absolute;
    right: 0;
    width: 37%;
    margin-right: 25px;
}
.border-left {
    border-top: 5px dotted #d5d5d5;
    margin-left: 25px;
    position: absolute;
    width: 55%;
}
.progress-wrap .dot {
    border-radius: 50%;
    height: 15px;    
    position: absolute;
    top: -5px;
    width: 15px;
}
.dot-left {
    left: 0;
    background-color: #222222;
}
.dot-right {
    background-color: #efefef;  
    right: 0;  
}
.progress-wrap .themeclr-border {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    height: 23px;
    left: 58%;
    position: absolute;
    top: -10px;
    width: 23px;
}
.progress-wrap .dot-center {
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
}
.progress-content p b {
    padding: 0 5px;
}

/*-------------------- 6.2 - Tracking Page Ends -------------------- */

/*-------------------- 6.3 - Contact Page  Starts -------------------- */
.contact-form::before {
    background-color: #e5e5e5;
    bottom: 0;
    content: "";
    height: 30%;
    left: -20%;
    margin: auto;
    position: absolute;
    top: 0;
    width: 1px;
}
.contact-page .contact-detail span {
    width: 40%;
}
.contact-page .contact-detail p {
    width: 58%;
}
.contact-map {
    position: relative;
}
.map .map-canvas {
    height: 500px;
}
#map-canvas { 
    height: 100%; 
    margin: 0px; 
    padding: 0px 
}
.map-indicator {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.marker-1 {
    left: 20%;
    position: absolute;
    top: 35%;
}
.marker-2 {
    position: absolute;
    right: 19%;
    top: 18%;
}
.marker-3 {
    left: 53%;
    position: absolute;
    top: 64%;
}
/*-------------------- 6.3 - Contact Page Ends -------------------- */

/*-------------------- 6.4 - Error Page  Starts -------------------- */
.error-wrap .section-title {
    font-size: 160px;
    line-height: 1.1;
}
.error-wrap .title-1 i {
    vertical-align: middle;
}

/*-------------------- 6.4 - Error Page Ends -------------------- */

/*-------------------- 6.5 - Comingsoon Page  Starts -------------------- */
.theme-countdown > span {
    color: #ffffff;
    font-size: 50px;
    margin-right: 6px;
}
.theme-countdown {
    text-transform: uppercase;
}
.theme-countdown > span + span {
    padding-left: 25px;
}
.countdown-wrap .social-icons {
    margin-left: 5px;
}

/*-------------------- 6.5 - Comingsoon Page Ends -------------------- */

/*********************************************** 
    6 - PAGES STARTS 
************************************************/

/******************************* 
    7 - FOOTER CSS STARTS 
********************************/
.footer-main {
    background-image: url(../img/pattern/footer-top-bg.png);
}
.footer-widget ul li a {
    font-size: 12px;
    text-transform: uppercase;
}
.footer-widget li {
    padding: 5px 0;
}
.footer-widget ul {
    margin: 25px 0 0;
}
.footer-widget .logo {
    margin-top: 60px;
}
.social-icons li a {
    border: 2px solid #656565;
    border-radius: 50%;
    color: #656565;
    display: inline-block;
    font-size: 14px;
    height: 35px;
    line-height: 32px;
    margin-right: 5px;
    text-align: center;
    width: 35px;
}
.social-icons li a:hover, .social-icons li a:focus {
    color: #ffffff;
}
.payment-icons > li {
    padding-right: 3px;
}
.footer-bottom {
    background-color: #222222;
    padding: 20px 0;
}
.footer-bottom p {
    margin: 0;
}

/******************************* 
    7 - FOOTER CSS STARTS 
********************************/


/*********************************************** 
    8 - Responsive STARTS 
************************************************/
@media (max-width:1200px) {
    .theme-container{
        padding-left: 15px;
        padding-right: 15px;
    }  
}
@media (min-width:768px) {
    /*---- Dropdown Style  Starts ---*/
    .theme-menu li .dropdown-menu {
        opacity: 0;    
        visibility: hidden;
        display: block;
        border-radius: 3px;

        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);

        transition: transform 0.3s ease 0s;
        -webkit-transition: -webkit-transform 0.3s ease 0s;
        -ms-transition: -ms-transform 0.3s ease 0s;

        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
    }
    .theme-menu > li:hover > .dropdown-menu {
        opacity: 1;    
        visibility: visible;

        transform: translateY(0px);   
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
    }
    .theme-menu .dropdown-menu  li:hover > .dropdown-menu {
        opacity: 1;        
        visibility: visible;

        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
    }
    .theme-menu .dropdown-menu li .dropdown-menu{
        left: 100%;       
        top: 0;  
        margin-right: 25px;

        transform: translateX(-50px);
        -webkit-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
    }
    /*---- Dropdown Style Ends  ---*/


    /*-------------------- Header Style-2 Starts -------------------- */
    .header-style2 {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 11;
    }
    .header-style2 .menu-bar {
        background-color: rgba(0, 0, 0, 0);
    }
    /*-------------------- Header Style-2 Ends -------------------- */
}
@media (min-width:992px) and (max-width:1199px) {
    /*---- Home Starts  ---*/
    .feature-content {
        width: 80%;
    }
    .about-2 .bg-text {
        top: 10%;
    }

    .contact-2 .contact-detail span {
        width: 42%;
    }
    .contact-2 .contact-detail p {
        width: 55%;
    }
    /*---- Home Ends  ---*/
}
@media (min-width:768px) and (max-width:991px) {
    /*---- Header Starts ---*/
    .contact-num {
        margin: 0 135px 0 0;
    }
    .theme-menu > li {
        padding: 5px 15px;
    }
    .theme-menu > li:last-child {
        padding: 0;
    }

    .top-bar2 .navbar-logo {
        display: table;
        margin: auto auto 15px;
        text-align: center;
    }
    /*---- Header Ends  ---*/

    /*---- Home Starts ---*/  
    .prod-delivery::before {
        width: 60%;
    }

    .pricing-box {
        display: table;
        margin: auto auto 50px;
    }
    .pricing-wrap .bg-text {
        top: 4%;
    }
    .pricing-wrap .col-md-4:last-child .pricing-box {
        margin-bottom: 0;
    }

    .feature-content {
        width: 80%;
    }
    .feature-2 img {
        margin-right: 10px;
    }

    .about-2 .bg-text {
        top: 8%;
    }

    .contact-2 .contact-detail > li {
        padding-left: 20%;
    }
    /*---- Home Ends  ---*/

    /*---- Pages Starts ---*/    
    .more-about {   
        padding: 28px 15px 18px;
    }

    .contact-form::before {
        left: -10%;
    }
    .contact-page .contact-detail {
        margin: 0;
        padding: 0;
    }

    .prod-info li {
        padding: 15px 30px;
    }
    .prod-info .title-2 {
        width: 45%;
    }
    .prod-info .fs-16 {
        width: 54%;
    }

    .map .map-canvas {
        height: 400px;
    }
    /*---- Pages Ends  ---*/

    /*---- Comment Ends  ---*/
    .comment-author .avatar{
        top: 0;
    }
    .comment-metadata{
        padding-left: 80px;
        display: block;
    }
    .comment-content{
        margin: 15px 0 0 0;
        width: 100%;
    }
    /*---- Comment Ends  ---*/

    /*---- Footer Starts ---*/  
    .footer-widget:nth-child(-n+2) {
        margin-bottom: 30px;
    }
    /*---- Footer Ends  ---*/

}
@media (max-width:767px) {
    /*---------------- Global properties (body, common classes, structure etc) Starts ----------------------*/

    .wow{
        animation-name: none !important;
        visibility: visible !important;
    }

    .section-title { font-size: 24px; }
    .title-3 {font-size: 18px;}
    .post-title, .product-title, .widget-title{font-size: 18px;}
    .bg-text { font-size: 50px; } 

    .fs-16 { font-size: 14px; }
    .fs-20 { font-size: 16px; }
    .fs-26 { font-size: 20px; }
    .fs-36 { font-size: 30px; }
    .fs-48 { font-size: 24px; }
    .fs-50 { font-size: 36px; }

    .pad-120 {
        padding-bottom: 60px;
        padding-top: 60px;
    }
    .pb-120 { padding-bottom: 60px; }
    .pt-120 { padding-top: 60px; }
    .pt-100 { padding-top: 50px; }
    .pad-100 {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .pb-100 { padding-bottom: 50px; }
    .pad-80 {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .pb-80 { padding-bottom: 50px; }
    .pt-80 { padding-top: 50px; }
    .pad-10 {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .pt-10{ padding-top: 10px; }
    .pb-10{ padding-bottom: 10px; }
    .pad-50 {
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .pb-50{ padding-bottom: 30px; }    
    .pt-50{ padding-top: 30px; }    

    /*---------------- Global properties (body, common classes, structure etc) Ends ----------------------*/

    /*---- Header Starts ---*/    
    .contact-num {
        margin: 20px 120px 0 0;
        text-align: left;
    }
    .sign-in {
        top: auto;
        bottom: 0;        
    }
    .theme-menu { 
        float: left;
        //margin: 0;
        padding-top: 17px;
    }    
    .theme-menu li.open .dropdown-menu{
        display: block;
        padding-left: 20px;
    }
    .theme-menu > li:last-child {
        padding-left: 0;
    }
    .theme-menu .search, .header-style3 .theme-menu .search {
        margin: 20px 0 0 20px;
    }
    .menu-bar .navbar-collapse {
        box-shadow: none;
    }

    .header-style2 .menu-bar {
        background-color: #222222;
    }
    .header-style2 .theme-menu .dropdown-menu > li > a {
        color: #ffffff;
    }

    .top-bar2 .navbar-logo {
        display: table;
        margin: auto auto 15px;
        text-align: center;
    }
    .top-bar2 ul {        
        text-align: center;
    }
    .top-bar2 ul li { display: block; }
    .top-bar2 ul li + li {
        border-left: 0 none;
        margin: 25px 0 0;
        padding: 0;
    }
    .header-style3 .sign-in {    
        float: left;    
        width: 180px;
    }
    .header-style3 .navbar-toggle {
        margin: 6px 0 0;
    }
    .header-style3 .theme-menu .dropdown-menu > li > a:hover, .header-style3 .theme-menu .dropdown-menu > li > a:focus {
        color: #ffffff;
    }

    /*---- Header Ends  ---*/

    /*--- Home Starts --- */
    .track-prod {
        margin: 65px 15px 0;
    }

    .prod-delivery::before {
        width: 70%;
    }
    .delivery-img {
        bottom: 0;
        left: 15px;
        margin: auto;  
        right: 15px;
        top: 0;
        text-align: center;
    }

    .feature-2 .col-sm-4:nth-child(-n+2) {
        margin-bottom: 25px;
    }
    .feature-content {
        width: 80%;
    }

    .pricing-box {
        display: table;
        margin: auto auto 50px;
    }
    .pricing-wrap .col-md-4:last-child .pricing-box {
        margin-bottom: 0;
    }
    /*---- Home Ends  ---*/

    /*---- Popup: Login Starts ---*/   
    .modal-dialog {
        margin: 100px 15px;
        width: auto;
    }
    /*---- Popup: Login Ends  ---*/

    /*---- Blog Starts ---*/  
    .post-wrap p {
        font-size: 14px;
    }
    .pagintn > li a {
        height: 45px;
        padding: 15px;
    }
    /*---- Blog Starts ---*/  

    /*---- Comment Ends  ---*/
    .comment-author .avatar{
        top: 0;
    }
    .comment-metadata{
        padding-left: 80px;
        display: block;
    }
    .comment-content{
        margin: 15px 0 0 0;
        width: 100%;
    }
    /*---- Comment Ends  ---*/

    /*---- Pages Starts ---*/  
    .more-about-wrap .col-md-4:nth-child(-n+2) {
        margin-bottom: 50px;
    }
    .error-wrap .section-title {
        font-size: 80px;
    }

    .tracking-form .title-1 {
        display: block;
    }
    .tracking-form span {
        margin-bottom: 20px;
        display: inline-block;
        width: 100%;
    }

    .progress-wrap {
        margin-left: 16.6667%;
    }
    .progress-content div {
        margin: 20px 0;
        text-align: center;
    }
    .border-left {
        border-top: 3px dotted #d5d5d5;
        margin-left: 0;
        width: 29%;
    }
    .progress-status::before {
        border-bottom: 3px dotted #d5d5d5;
        content: "";
        position: absolute;
        top: 42%;
        width: 65%;
    }
    .progress-status::after {
        border-left: 3px dotted #d5d5d5;
        content: "";
        height: 40%;
        left: -3px;
        position: absolute;
        top: 5px;
        width: 2px;
    }
    .border-right {
        border-bottom: 3px dotted #efefef;
        left: 34%;
        margin-right: 0;        
        top: 80%;
        width: 31%;
    }
    .progress-wrap .themeclr-border {
        left: 30%;    
        top: 39%;
        background-color: #ffffff;
    }
    .progress-wrap::after {
        border-left: 3px dotted #efefef;
        content: "";
        height: 38%;
        left: 66%;
        position: absolute;
        top: 42%;
        width: 3px;
    }
    .dot-left {
        left: 30%;
    }
    .dot-right {
        margin-top: 2px;
        right: 66%;
        top: 78% !important;
    }
    
    .theme-countdown > span {
        font-size: 30px;        
    }

    .map .map-canvas {
        height: 300px;
    }
    /*---- Pages Ends  ---*/   
    
    /*---- Footer Starts ---*/  
    .footer-widget:nth-child(-n+2) {
        margin-bottom: 30px;
    }
    .footer-bottom p {
        text-align: center;
    }
    /*---- Footer Ends  ---*/    

}
@media (max-width:479px) { 

    /*---- Contact us Starts ---*/    
    .contact-detail span, .contact-2 .contact-detail span {        
        width: 50%;
    }
    .contact-detail p, .contact-2 .contact-detail p {
        width: 48%;
    }
    .contact-2 .contact-detail > li {
        padding-left: 0;
    }
    /*---- Contact us Ends  ---*/    

    /*---- Pricing & Plans Starts ---*/      
    .price-content {
        padding: 55px 30px 0;
    } 
    .pricing-box .title-wrap {    
        padding: 15px 30px;
    }
    .pricing-box:hover .order span {
        left: 0;
    }
    .order span {
        margin: -1px auto;
    }
    .price-content-2 li {
        padding: 18px 5%;
    }
    /*---- Pricing & Plans Ends  ---*/

    /*---- Pages Starts  ---*/
    .theme-countdown {
        font-size: 12px;
    }
    .theme-countdown > span + span {
        padding-left: 10px;
    }
    .theme-countdown > span {
        font-size: 20px;
        margin-right: 0;
    }
    /*---- Pages Ends  ---*/
}


.step{
    width: 100%;
}
.progressbar{
    counter-reset: step;
}
.progressbar li{
    list-style-type: none;
    float: left;
    width: 16.65%;
    position: relative;
    text-align: center;

}
 .progressbar li:before{
    content: counter(step);
    counter-increment: step;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
 }
 
 .progressbar li:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: -1;
 }
 
 .progressbar li:first-child:after{
    content: none;
 }
 .progressbar li:active{
    color: green;
 }
 .progressbar li:active:before{
    border-color: green;
 }
 .progressbar li:active + li:after{
    background-color: green;
 }
.work{
    background-color: powderblue;
}











/*********************************************** 
    8 - Responsive ENDS 
************************************************/

// Colors
@brand-primary: #29b5a8;
@brand-secondary: #ff8300;
@gray: #6b7381;
@gray-light: lighten(@gray, 15%);
@gray-lighter: lighten(@gray, 30%);;

// Button Colors
@btn-default-color: @gray;
@btn-default-bg: @gray-lighter;

// Toggle Sizes
@toggle-default-size: 1.5rem;
@toggle-default-label-width: 4rem;
@toggle-default-font-size: .75rem;


// General Styles for Demo
body {
    font-family: 'Montserrat', 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Calibri, Arial, sans-serif;
    color: @gray;
    background: #f2f2f2;
}
.jumbotron {
  background: @gray;
  color: @gray-lighter;
  h1 {
    color: #fff;
  }
}
.example {
  margin: 4rem auto;
  > .row {
    margin-top: 2rem;
    height: 5rem;
    vertical-align: middle;
    text-align: center;
    border: 1px solid fade(@gray-lighter,50%);
    &:first-of-type {
      border:none;
      height: auto;
      text-align: left;
    }
  }
  h3 {
    font-weight: 400;
    > small {
      font-weight: 200;
      font-size: .75em;
      color: @gray-light;
    }
  }
  h6 {
    font-weight: 700;
    font-size: .65rem;
    letter-spacing: 3.32px;
    text-transform: uppercase;
    color: @gray-lighter;
    margin: 0;
    line-height:5rem;
  }
  .btn-toggle {
    top: 50%;
    transform: translateY(-50%);
  }
}



// Mixin for Switch Colors
// Variables: @color, @bg, @active-bg
.toggle-color(@color: @btn-default-color; @bg: @btn-default-bg; @active-bg: @brand-primary;) {
  color: @color;
  background: @bg;
  &:before,
  &:after {
    color: @color;
  }
  &.active {
    background-color: @active-bg;
  }
}

// Mixin for Default Switch Styles
// Variables: @size, @margin, @color, @bg, @active-bg, @font-size
.toggle-mixin(@size: @toggle-default-size; @margin: @toggle-default-label-width; @font-size: @toggle-default-font-size;) {
  // color: @color;
  // background: @bg;
  margin: 0 @margin;
  padding: 0;
  position: relative;
  border: none;
  height: @size;
  width: @size * 2;
  border-radius: @size;
  
  &:focus,
  &.focus {
    &,
    &.active {
      outline: none;
    }
  }
  
  &:before,
  &:after {
    line-height: @size;
    width: @margin;
    text-align: center;
    font-weight: 600;
    // color: @color;
    font-size: @font-size;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity .25s;
  }
  &:before {
    content: 'Off';
    left: -@margin;
  }
  &:after {
    content: 'On';
    right: -@margin;
    opacity: .5;
  }
  
  > .handle {
    position: absolute;
    top: (@size * .25) / 2;
    left: (@size * .25) / 2;
    width: @size * .75;
    height: @size * .75;
    border-radius: @size * .75;
    background: #fff;
    transition: left .25s;
  }
  &.active {
    transition: background-color .25s;
    > .handle {
      left: @size + ((@size * .25) / 2);
      transition: left .25s;
    }
    &:before {
      opacity: .5;
    }
    &:after {
      opacity: 1;
    }
  }
  
  &.btn-sm {
    &:before,
    &:after {
      line-height: @size - 2px;
      color: #fff;
      letter-spacing: .75px;
      left: @size * .275;
      width: @size * 1.55;
    }
    &:before {
      text-align: right;
    }
    &:after {
      text-align: left;
      opacity: 0;
    }
    &.active {
      &:before {
        opacity: 0;
      }
      &:after {
        opacity: 1;
      }
    }
  }
  
  &.btn-xs {
    &:before,
    &:after {
      display: none;
    }
  }
}



// Apply Mixin to different sizes & colors
.btn-toggle {
  
  .toggle-mixin;
  .toggle-color;
  
  &.btn-lg {
    .toggle-mixin(@size: 2.5rem; @font-size: 1rem; @margin: 5rem;);
  }
  
  &.btn-sm {
    .toggle-mixin(@font-size: .55rem; @margin: .5rem;);
  }
  
  &.btn-xs {
    .toggle-mixin(@size:1rem;@margin:0;)
  }
  
  &.btn-secondary {
    .toggle-color(@active-bg:@brand-secondary);
  }
}



/*********************************************** 
    on off switch
************************************************/



.onoffswitch {
    position: relative; width: 200px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Yes Please";
    padding-left: 50px;
    background-color: #008369; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "No i'll drop if off ";
    padding-right: 50px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 160px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}





.onoffswitch1 {
    position: relative; width: 250px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch1-checkbox1 {
    display: none;
}
.onoffswitch1-label1 {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch1-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch1-inner:before, .onoffswitch1-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch1-inner:before {
    content: "Yes Please";
    padding-left: 50px;
    background-color: #008369; color: #FFFFFF;
}
.onoffswitch1-inner:after {
    content: "No Recever Will Collect ";
    padding-right: 50px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch1-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 210px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch1-checkbox1:checked + .onoffswitch1-label1 .onoffswitch1-inner {
    margin-left: 0;
}
.onoffswitch1-checkbox1:checked + .onoffswitch1-label1 .onoffswitch1-switch {
    right: 0px; 
}





.underline-small{
  color:#075B92;
  display:inline-block;
  position:relative;
  
}
.underline-small::after{
  content:'';
  height:3px;
  width:100%;
  background:#707070;
  position:absolute;
/*   left:calc(50% - 10%); */
  margin:auto;
  bottom:-5px;
  left:0; 
  right:0;
   
}
.underline-small2{
  display:100%;
  position:relative;
  
}
.underline-small2::after{
  content:'';
  height:3px;
  width:100%;
  background:#FFEC4B;
  position:absolute;
/*   left:calc(50% - 10%); */
  margin:auto;
  bottom:-5px;
  left:0; 
  right:0;
   
}












.switch {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 150px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EEEEEE;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 2px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 140px;
  width: 20px;
  left: 4px;
  top: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 0%;
}

input:checked + .slider {
  background-color: #008369;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(270px);
}

/*------ ADDED CSS ---------*/
.slider:after
{
 content:'By The End Of The Day Saving Service';
 
 color: #999999;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 12px;
 font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
}

input:checked + .slider:after
{  
 font-size: 17px;
 color: white;
  content:'Before 8.00 Am Express Sevice';
}




.switch1 {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 40px;
}

.switch1 input {display:none;}

.slider1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EEEEEE;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 10px;
}

.slider1:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 15px;
  left: 4px;
  top: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 40%;
}

input:checked + .slider1 {
  background-color: #008369;
}

input:focus + .slider1 {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider1:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(120px);
}

/*------ ADDED CSS ---------*/
.slider1:after
{
 content:'No';
 
 color: #999999;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 17px;
 font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
}

input:checked + .slider1:after
{  
 font-size: 17px;
 color: white;
  content:'Yes';
}


.stament{
    display: block;
    position: absolute;
    color: black;
    font-family: Trebuchet, Arial, sans-serif; font-weight: bold;

}




.stycol{
  position: relative;
  display: inline-block;
  width: 250px;
  height: 100px;
  text-align: center;
  background: #EBF5FB  ;
  border-radius: 10px;

}

.pedit{

    text-align: center;
}

.cardedit {
border: 1px solid black;
}
/*--------- END --------*/


